.brwon {
    color: #65483D;
}

.lightbrown {
    color: #9F8279;
}

.yellowish {
    color: rgb(254, 190, 111);
}

.red {
    color: #BC2041;
}

.greyish {
    color: #564C55;
}

/* 

- design-url:
    - logo-header: app.logomakr.com/2MCk5Z
    - favicon: app.logomakr.com/3I3XsG
    - logo-webseite: app.logomakr.com/9KGnD8

*/